* {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color1: #767676;
  --text-color2: #111111;
  --text-color3: #ffffff;
  --input-color: #ebebeb;
  --bg-search: #00838c;
  --div-color: #fde9db;
  --div-color2: #fde9db;
  --div-color3: #f5f7f8;
  --table-color: #d6d6d6;
  --step--2: clamp(1rem, calc(0.77rem + 0.63vw), 1.25rem);
  --step-0: clamp(1.35rem, calc(1rem + 0.72vw), 1.56rem);
  --step--1: clamp(0.83rem, calc(-4.17rem + 6.68vw), 1rem);
  --step-1: clamp(2.07rem, calc(0.81rem + 2.9vw), 3.05rem); /**700px*/
  --step-2: clamp(1rem, calc(0.59rem + 0.85vw), 1.25rem); /**768*/
  --step-3: clamp(1.73rem, calc(0.57rem + 2.42vw), 2.44rem); /**768*/
}

body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content repeat(5, auto);
  grid-template-areas:
    "page__header"
    "page__section"
    "page__main"
    "page__footer";
}

.header {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.page__header {
  grid-area: page__header;
  padding: 1.4rem;
}

.header__div .div__title,
.header__nav,
.header__div_2 {
  display: none;
}

.header__div_3 {
  width: 80vw;
}

.header__items_1 {
  display: flex;
  justify-content: flex-end;
}
.item {
  margin: 0.625rem;
}

.div__title {
  margin: 0rem 0.3125rem;
}

/**Section*/

.section {
  display: flex;
  justify-content: center;
}

.page__section {
  grid-area: page__section;
  width: 100vw;
  margin-bottom: 0.875rem;
}

.input {
  margin-top: 0.9375rem;
  margin-left: 1.875rem;
  width: 80vw;
  height: 7vh;
}

.section__input {
  background-color: var(--input-color);
  border: solid 0.5 var(--input-color);
  font-size: var(--step--2);
  outline: 0;
}
.section__input::placeholder {
  color: var(--text-color1);
  font-size: var(--step--2);
  padding: 2rem;
}

.buttom {
  margin-top: 0.9375rem;
  border: solid 0.5 var(--bg-search);
  width: 8vw;
  height: 7vh;
}

.section__buttom {
  background-color: var(--bg-search);
}

.section__buttom span {
  display: none;
}

.setcion__div {
  display: none;
}

/**Efectos*/

.section__buttom--efects :hover {
  transform: translateY(-2px);
}

.section__input:focus {
  border: 3px solid rgb(93, 93, 216);
}

/**main*/

/**footer*/

.page__footer {
  grid-area: page__footer;
}

.footer {
  background-color: thistle;
  font-size: 2em;
  text-align: center;
  padding: 5px;
  color: white;
}
@media screen and (min-width: 768px) {
  /**>768px*/
  .header__div {
    display: flex;
    align-items: center;
  }
  .header__div .div__title {
    display: flex;
    text-align: center;
  }
  .header__div_3 {
    width: 75vw;
  }
  .div__a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color2);
    font-size: var(--step-0);
  }
}

@media screen and (min-width: 992px) {
  .input {
    width: 60vw;
    height: 7vh;
  }

  .setcion__div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50vw;
    margin-right: 0.625rem;
  }

  .section__a {
    text-decoration: none;
    color: var(--text-color1);
    margin-left: 1.4rem;
  }

  .setcion__div .a__store {
    display: none;
  }

  .item__span {
    margin-left: 0.625rem;
  }

  /**Efectos*/
  .section__a:hover {
    transform: translateY(-2px);
  }
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    display: none;
  }

  .header {
    align-items: center;
  }

  .header__nav {
    display: flex;
    align-items: baseline;
    text-align: center;
  }

  .nav {
    font-size: var(--step--1);
    white-space: nowrap; /**Evita el salto de linea*/
  }

  .nav__ul {
    display: flex;
    padding: 0;
  }

  .ul {
    list-style: none;
  }

  .ul__item_a {
    text-decoration: none;
    color: var(--text-color1);
    margin-left: 1.5rem;
    line-height: 1.5;
  }

  .header__div_3 {
    width: 55vw;
  }

  /**Section*/
  .input {
    width: 40vw;
    height: 7vh;
  }

  .section__buttom img {
    display: none;
  }

  .section__buttom span {
    display: flex;
    color: var(--bg-color);
  }

  .buttom {
    font-weight: 700;
    width: 20vw;
    height: 7vh;
    padding-left: 3vw;
  }

  .setcion__div .a__store {
    display: flex;
  }

  /**Efectos*/
  .ul__item_a:hover {
    color: var(--text-color2);
  }
}

@media screen and (min-width: 1400px) {
  /** > 1400*/
  .header__items_1 {
    display: none;
  }

  .header__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__div_2 {
    width: 65vw;
    font-size: var(--step--1);
  }

  .item {
    text-decoration: none;
    color: var(--text-color1);
    line-height: 1.5;
  }

  /**Section*/
  .input {
    width: 80vw;
    height: 7vh;
  }

  .setcion__div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60vw;
    margin-right: 5rem;
  }

  .buttom {
    font-weight: 700;
    width: 20vw;
    height: 7vh;
    padding-left: 2vw;
  }

  /**Efectos*/
  .item__help:hover {
    text-decoration: underline var(--text-color2);
  }
}
