* {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color1: #767676;
  --text-color2: #111111;
  --text-color3: #ffffff;
  --bg-search: #00838c;
  --div-color: #fde9db;
  --step-0: clamp(1.35rem, calc(1rem + 0.72vw), 1.56rem);
  --step--1: clamp(0.83rem, calc(-4.17rem + 6.68vw), 1rem);
}

body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  min-height: 100vh;
}

.page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "page__header page__header page__header page__header page__header"
    "page__section page__section page__section page__section page__section";
}

.header {
  display: flex;
  align-items: baseline;
  text-align: center;
}

.page__header {
  grid-area: page__header;
  padding: 1.4rem;
}

.header__div .div__title,
.header__nav,
.header__div_2 {
  display: none;
}

.header__div_3 {
  width: 80vw;
}

.header__items_1 {
  display: flex;
  justify-content: flex-end;
}
.item {
  margin: 0.625rem;
}

.div__title {
  margin: 0rem 0.3125rem;
}

.section {
  background-color: aqua;
  width: 100vw;
}

.page__section {
  grid-area: page__section;
}

@media screen and (min-width: 768px) {
  /**>768px*/
  .header__div {
    display: flex;
    align-items: center;
  }
  .header__div .div__title {
    display: flex;
    text-align: center;
  }
  .header__div_3 {
    width: 75vw;
  }
  .div__a {
    text-decoration: none;
    color: var(--text-color2);
    font-weight: bold;
    font-size: var(--step-0);
  }
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    display: none;
  }

  .header {
    align-items: center;
  }

  .header__nav {
    display: flex;
    align-items: baseline;
    text-align: center;
  }

  .nav {
    font-size: var(--step--1);
    white-space: nowrap; /**Evita el salto de linea*/
  }

  .nav__ul {
    display: flex;
    padding: 0;
  }

  .ul {
    list-style: none;
  }

  .ul__item_a {
    text-decoration: none;
    color: var(--text-color1);
    margin-left: 1.5rem;
    line-height: 1.5;
  }

  .header__div_3 {
    width: 55vw;
  }
}

@media screen and (min-width: 1400px) {
  /** > 1400*/
  .header__items_1 {
    display: none;
  }

  .header__items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header__div_2 {
    width: 65vw;
    font-size: var(--step--1);
  }

  .item {
    text-decoration: none;
    color: var(--text-color1);
    line-height: 1.5;
  }
}
